In [1]:
import pandas as pd
# pd.options.display.max_columns = 100

In [2]:
# read data frame
df = pd.read_csv('clients.csv')
df.head().T

,0,1,2,3,4
ID,1030,1029,2002,2031,1049
Building,1,1,2,2,1
Year of sale,2005,2005,2007,2007,2004
Month of sale,11,10,7,12,11
Type of property,Apartment,Apartment,Apartment,Apartment,Apartment
Property number,30,29,2,31,49
Area (ft.),743.09,756.21,587.28,1604.75,1375.45
Price,"$ 246,172.68","$ 246,331.90","$ 209,280.91","$ 452,667.01","$ 467,083.31"
Status,Sold,Sold,Sold,Sold,Sold
Customer ID,C0028,C0027,C0112,C0160,C0014
Entity,Individual,Individual,Individual,Individual,Individual
Name,Madalyn,Lara,Donavan,Darien,Alessandra
Surname,Mercer,Carrillo,Flowers,Dorsey,Perry
Age at time of purchase,19,22,22,22,25
Age Interval,18-25,18-25,18-25,18-25,18-25
Y,1986,1983,1985,1985,1979
M,6,2,12,12,5
D,21,24,27,27,15
Gender,F,F,M,M,F
Country,USA,USA,USA,USA,USA
State,California,California,California,California,California
Purpose,Home,Home,Home,Investment,Home
Deal satisfaction,5,5,1,3,4
Mortgage,No,No,Yes,Yes,No
Source,Website,Website,Client,Website,Agency

In [3]:
# rename all columns with space
df.rename(columns={"Year of sale": "Year_of_sale", "Month of sale": "Month_of_sale", 
                   'Type of property': 'Type_of_property', 'Number of property': 'Number_of_property',
                   'Property number ': 'Property_number', 'Area (ft.)': 'Area_ft', 
                   'Customer ID': 'Customer_ID', 'Age at time of purchase': 'Age_at_time_of_purchase', 
                   'Age Interval ': 'Age_Interval', 'Deal satisfaction': 'Deal_satisfaction'
                  }, inplace=True)

In [4]:
#read info about data frame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       195 non-null    int64
 1   Building                 195 non-null    int64
 2   Year_of_sale             195 non-null    int64
 3   Month_of_sale            195 non-null    int64
 4   Type_of_property         195 non-null    object
 5   Property number          195 non-null    int64
 6   Area_ft                  195 non-null    float64
 7   Price                    195 non-null    object
 8   Status                   195 non-null    object
 9   Customer_ID              195 non-null    object
 10  Entity                   195 non-null    object
 11  Name                     195 non-null    object
 12  Surname                  195 non-null    object
 13  Age_at_time_of_purchase  178 non-null    float64
 14  Age_Interval             178 non-null    object
 15  Y                        178 non-null    float64
 16  M                        178 non-null    float64
 17  D                        178 non-null    float64
 18  Gender                   178 non-null    object
 19  Country                  195 non-null    object
 20  State                    181 non-null    object
 21  Purpose                  195 non-null    object
 22  Deal_satisfaction        195 non-null    int64
 23  Mortgage                 195 non-null    object
 24  Source                   195 non-null    object
dtypes: float64(5), int64(6), object(14)
memory usage: 38.2+ KB

In [5]:
#unique data from Entity, Country, State, Status, Purpose
df.Entity.unique()

array(['Individual', 'Firm'], dtype=object)

In [6]:
df.Country.unique()

array(['USA', 'UK', 'USA ', 'Belgium', 'Russia', 'Denmark', 'Germany',
       'Mexico', 'Canada'], dtype=object)

In [7]:
df.State.unique()

array(['California', 'Virginia', 'Arizona', 'Oregon', 'Nevada',
       'Colorado', 'Utah', nan, 'Kansas', 'Wyoming'], dtype=object)

In [8]:
df.Status.unique()

array([' Sold '], dtype=object)

In [9]:
df.Purpose.unique()

array(['Home', 'Investment'], dtype=object)

In [10]:
#del space in name country
df = df.replace(to_replace='USA ', value='USA')

In [11]:
# Price change to float
df.Price = df.Price.str.slice(start=2)\
                .str.replace(',', '').astype('float')

In [12]:
df.Country.value_counts()

USA        177
Canada       7
Russia       4
Belgium      2
UK           2
Mexico       1
Denmark      1
Germany      1
Name: Country, dtype: int64

In [13]:
# df[['Area_ft', 'Price']].describe()

In [14]:
# who is our client?
# what is gender?
gender = df.Gender.value_counts().idxmax()
gender

'M'

In [15]:
# what is his(her) age interval?
age_int = df[df.Gender == gender].Age_Interval.value_counts().idxmax()
age_int

'36-45'

In [16]:
# type_of_property =  df.Type_of_property.value_counts().idxmax()
# type_of_property

In [17]:
# Is his(her) from?
country = df[(df.Gender == gender) & (df.Age_Interval == age_int)].Country.value_counts().idxmax()
country

'USA'

In [18]:
# Most popular state where is buy?
state = df[(df.Gender == gender) & (df.Age_Interval == age_int)].State.value_counts().idxmax()
state

'California'

In [19]:
#What is (s)he want to buy?
purpose = df[(df.Gender == gender) & (df.Age_Interval == age_int)].Purpose.value_counts().idxmax()
purpose

'Home'

In [20]:
#Does client use mortgage?
mortgage = df[(df.Gender == gender) & (df.Age_Interval == age_int)].Mortgage.value_counts().idxmax()
mortgage

'No'

In [21]:
#
source = df.Source.value_counts().idxmax()
source

'Website'

In [22]:
# area mean our client
area_mean = round(df[(df.Gender == gender) & (df.Age_Interval == age_int) & (df.Mortgage == mortgage)].Area_ft.mean(), 2)
area_mean

893.78

In [23]:
# price mean our client
price_mean = round(df[(df.Gender == gender) & (df.Age_Interval == age_int) & (df.Mortgage == mortgage)].Price.mean(), 2)
price_mean

261478.42

In [24]:
#most popular state
state = df[(df.Gender == gender) & (df.Age_Interval == age_int)].State.value_counts().idxmax()
state

'California'

In [25]:
if gender == 'M':
    gender = ['Мужчина', 'гражданин', 'покупающий', 'который']
else:
    gender = ['Женщина', 'гражданка', 'покупающая', 'которая'] 
dct = {'Home': 'проживания', 'Investment': 'инвестиций', 'No': 'не ', 'Yes': '',
      'USA': 'США', 'UK': 'великобритании', 'Belgium': 'Бельгии', 'Russia': 'России', 'Denmark': 'Дании', 
       'Germany': 'Германии', 'Mexico': 'Мексики', 'Canada': 'Канады',
      'California': 'Калифорния', 'Virginia': 'Вирджиния', 'Arizona': 'Аризона', 'Oregon': 'Орегон', 
       'Nevada': 'Невада', 'Colorado': 'Колорадо', 'Utah': 'Юта', 'Kansas': 'Канзас', 'Wyoming': 'Вайоминг',
      'Website': 'web-сайт', 'Agency': 'агенство', 'Client': 'клиента'}

In [27]:
print('{gender[0]} {gender[1]} {pur[0]}, возрастом {age} лет {gender[2]} недвижимость с целью {pur[1]},\n{pur[2]}используя кредитные средства.'.format(gender=gender, age=age_int, pur=[dct[country], dct[purpose], dct[mortgage]]))
print('Средняя площадь недвижимости {square} ft. Cредняя стоимость недвижимости ${price}.'.format(square=area_mean, price=price_mean))
print(f'Самое популярный штат для покупки недвижимости {dct[state]}. Клиент пришел через {dct[source]}.')
# Мужчина, гражданин США, возрастом 36-45 лет покупающий дом, который чаще всего не использует кредитные средства. 
# Средняя площадь дома 899.87 ft, а стоимость 269434.56$

Мужчина гражданин США, возрастом 36-45 лет покупающий недвижимость с целью проживания,
не используя кредитные средства.
Средняя площадь недвижимости 893.78 ft. Cредняя стоимость недвижимости $261478.42.
Самое популярный штат для покупки недвижимости Калифорния. Клиент пришел через web-сайт.